<% if @results %>
	<% @results.each do |t| %>
		<% if current_user.id == t.user_id %>
			<h3><%= link_to t.name, trip_path(id: t.id), :method => :get %> </h3></br>
			<!-- add other stuff from api call -->
		<%end%>
	<%end%>
<%else %>
	<p>You got no results boyy</p>
<%end%>
